body {
  font-family: 'Arial', sans-serif;
}

h2 {
  color: #2c3e50;
}

.card {
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

footer a {
  font-size: 1.5rem;
}

footer a:hover {
  color: #f8f9fa;
}